{% extends 'base.html.twig' %}

{% block title %}Edit Moustique{% endblock %}

{% block body %}
    <h1>Edit Moustique</h1>

    {{ include('moustique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('moustique_index') }}">back to list</a>

    {{ include('moustique/_delete_form.html.twig') }}
{% endblock %}
