{% extends 'base.html.twig' %}

{% block title %}Moustique index{% endblock %}

{% block body %}
    <h1>Moustique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moustique in moustiques %}
            <tr>
                <td>{{ moustique.id }}</td>
                <td>{{ moustique.titre }}</td>
                <td>{{ moustique.description }}</td>
                <td>
                    <a href="{{ path('moustique_show', {'id': moustique.id}) }}">show</a>
                    <a href="{{ path('moustique_edit', {'id': moustique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('moustique_new') }}">Create new</a>
{% endblock %}
