{% extends 'base.html.twig' %}

{% block title %}New Moustique{% endblock %}

{% block body %}
    <h1>Create new Moustique</h1>

    {{ include('moustique/_form.html.twig') }}

    <a href="{{ path('moustique_index') }}">back to list</a>
{% endblock %}
