{% extends 'base.html.twig' %}

{% block title %}Moustique{% endblock %}

{% block body %}
    <h1>Moustique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moustique.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ moustique.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ moustique.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('moustique_index') }}">back to list</a>

    <a href="{{ path('moustique_edit', {'id': moustique.id}) }}">edit</a>

    {{ include('moustique/_delete_form.html.twig') }}
{% endblock %}
