{% extends 'base.html.twig' %}

{% block title %}Voyageur{% endblock %}

{% block body %}
    <h1>Voyageur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyageur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ voyageur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ voyageur.prenom }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ voyageur.avatar }}</td>
            </tr>
            <tr>
                <th>Profile</th>
                <td>{{ voyageur.profile }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voyageur_index') }}">back to list</a>

    <a href="{{ path('voyageur_edit', {'id': voyageur.id}) }}">edit</a>

    {{ include('voyageur/_delete_form.html.twig') }}
{% endblock %}
