<form method="post" action="{{ path('consultation_medical_delete', {'id': consultation_medical.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultation_medical.id) }}">
    <button class="btn">Delete</button>
</form>
