{% extends 'base.html.twig' %}

{% block title %}Edit ConsultationMedical{% endblock %}

{% block body %}
    <h1>Edit ConsultationMedical</h1>

    {{ include('consultation_medical/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('consultation_medical_index') }}">back to list</a>

    {{ include('consultation_medical/_delete_form.html.twig') }}
{% endblock %}
