{% extends 'base.html.twig' %}

{% block title %}ConsultationMedical index{% endblock %}

{% block body %}
    <h1>ConsultationMedical index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code_postal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation_medical in consultation_medicals %}
            <tr>
                <td>{{ consultation_medical.id }}</td>
                <td>{{ consultation_medical.codePostal }}</td>
                <td>
                    <a href="{{ path('consultation_medical_show', {'id': consultation_medical.id}) }}">show</a>
                    <a href="{{ path('consultation_medical_edit', {'id': consultation_medical.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('consultation_medical_new') }}">Create new</a>
{% endblock %}
