{% extends 'base.html.twig' %}

{% block title %}New ConsultationMedical{% endblock %}

{% block body %}
    <h1>Create new ConsultationMedical</h1>

    {{ include('consultation_medical/_form.html.twig') }}

    <a href="{{ path('consultation_medical_index') }}">back to list</a>
{% endblock %}
