{% extends 'base.html.twig' %}

{% block title %}ConsultationMedical{% endblock %}

{% block body %}
    <h1>ConsultationMedical</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation_medical.id }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ consultation_medical.codePostal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('consultation_medical_index') }}">back to list</a>

    <a href="{{ path('consultation_medical_edit', {'id': consultation_medical.id}) }}">edit</a>

    {{ include('consultation_medical/_delete_form.html.twig') }}
{% endblock %}
