{% extends 'base.html.twig' %}

{% block title %}Animaux index{% endblock %}

{% block body %}
    <h1>Animaux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animaux in animauxes %}
            <tr>
                <td>{{ animaux.id }}</td>
                <td>{{ animaux.niveau }}</td>
                <td>{{ animaux.description }}</td>
                <td>
                    <a href="{{ path('animaux_show', {'id': animaux.id}) }}">show</a>
                    <a href="{{ path('animaux_edit', {'id': animaux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('animaux_new') }}">Create new</a>
{% endblock %}
