{% extends 'base.html.twig' %}

{% block title %}New Animaux{% endblock %}

{% block body %}
    <h1>Create new Animaux</h1>

    {{ include('animaux/_form.html.twig') }}

    <a href="{{ path('animaux_index') }}">back to list</a>
{% endblock %}
