{% extends 'base.html.twig' %}

{% block title %}Animaux{% endblock %}

{% block body %}
    <h1>Animaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animaux.id }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ animaux.niveau }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ animaux.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('animaux_index') }}">back to list</a>

    <a href="{{ path('animaux_edit', {'id': animaux.id}) }}">edit</a>

    {{ include('animaux/_delete_form.html.twig') }}
{% endblock %}
