{% extends 'base.html.twig' %}

{% block title %}Edit ProfileSante{% endblock %}

{% block body %}
    <h1>Edit ProfileSante</h1>

    {{ include('profile_sante/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profile_sante_index') }}">back to list</a>

    {{ include('profile_sante/_delete_form.html.twig') }}
{% endblock %}
