{% extends 'base.html.twig' %}

{% block title %}ProfileSante index{% endblock %}

{% block body %}
    <h1>ProfileSante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile_sante in profile_santes %}
            <tr>
                <td>{{ profile_sante.id }}</td>
                <td>
                    <a href="{{ path('profile_sante_show', {'id': profile_sante.id}) }}">show</a>
                    <a href="{{ path('profile_sante_edit', {'id': profile_sante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profile_sante_new') }}">Create new</a>
{% endblock %}
