{% extends 'base.html.twig' %}

{% block title %}New ProfileSante{% endblock %}

{% block body %}
    <h1>Create new ProfileSante</h1>

    {{ include('profile_sante/_form.html.twig') }}

    <a href="{{ path('profile_sante_index') }}">back to list</a>
{% endblock %}
