{% extends 'base.html.twig' %}

{% block title %}ProfileSante{% endblock %}

{% block body %}
    <h1>ProfileSante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile_sante.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('profile_sante_index') }}">back to list</a>

    <a href="{{ path('profile_sante_edit', {'id': profile_sante.id}) }}">edit</a>

    {{ include('profile_sante/_delete_form.html.twig') }}
{% endblock %}
