<form method="post" action="{{ path('checklistes_delete', {'id': checkliste.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ checkliste.id) }}">
    <button class="btn">Delete</button>
</form>
