{% extends 'base.html.twig' %}

{% block title %}Edit Checklistes{% endblock %}

{% block body %}
    <h1>Edit Checklistes</h1>

    {{ include('checklistes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('checklistes_index') }}">back to list</a>

    {{ include('checklistes/_delete_form.html.twig') }}
{% endblock %}
