{% extends 'base.html.twig' %}

{% block title %}Checklistes index{% endblock %}

{% block body %}
    <h1>Checklistes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date_limite_vaccin</th>
                <th>Date_depart</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checkliste in checklistes %}
            <tr>
                <td>{{ checkliste.id }}</td>
                <td>{{ checkliste.nom }}</td>
                <td>{{ checkliste.dateLimiteVaccin ? checkliste.dateLimiteVaccin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ checkliste.dateDepart ? checkliste.dateDepart|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('checklistes_show', {'id': checkliste.id}) }}">show</a>
                    <a href="{{ path('checklistes_edit', {'id': checkliste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('checklistes_new') }}">Create new</a>
{% endblock %}
