{% extends 'base.html.twig' %}

{% block title %}New Checklistes{% endblock %}

{% block body %}
    <h1>Create new Checklistes</h1>

    {{ include('checklistes/_form.html.twig') }}

    <a href="{{ path('checklistes_index') }}">back to list</a>
{% endblock %}
