{% extends 'base.html.twig' %}

{% block title %}Checklistes{% endblock %}

{% block body %}
    <h1>Checklistes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ checkliste.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ checkliste.nom }}</td>
            </tr>
            <tr>
                <th>Date_limite_vaccin</th>
                <td>{{ checkliste.dateLimiteVaccin ? checkliste.dateLimiteVaccin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_depart</th>
                <td>{{ checkliste.dateDepart ? checkliste.dateDepart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('checklistes_index') }}">back to list</a>

    <a href="{{ path('checklistes_edit', {'id': checkliste.id}) }}">edit</a>

    {{ include('checklistes/_delete_form.html.twig') }}
{% endblock %}
