{% extends 'base.html.twig' %}

{% block title %}Edit Couverture{% endblock %}

{% block body %}
    <h1>Edit Couverture</h1>

    {{ include('couverture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('couverture_index') }}">back to list</a>

    {{ include('couverture/_delete_form.html.twig') }}
{% endblock %}
