{% extends 'base.html.twig' %}

{% block title %}Couverture index{% endblock %}

{% block body %}
    <h1>Couverture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Destination</th>
                <th>Zone</th>
                <th>Fichier_specifier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for couverture in couvertures %}
            <tr>
                <td>{{ couverture.id }}</td>
                <td>{{ couverture.destination }}</td>
                <td>{{ couverture.zone }}</td>
                <td>{{ couverture.fichierSpecifier }}</td>
                <td>
                    <a href="{{ path('couverture_show', {'id': couverture.id}) }}">show</a>
                    <a href="{{ path('couverture_edit', {'id': couverture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('couverture_new') }}">Create new</a>
{% endblock %}
