{% extends 'base.html.twig' %}

{% block title %}New Couverture{% endblock %}

{% block body %}
    <h1>Create new Couverture</h1>

    {{ include('couverture/_form.html.twig') }}

    <a href="{{ path('couverture_index') }}">back to list</a>
{% endblock %}
