{% extends 'base.html.twig' %}

{% block title %}Couverture{% endblock %}

{% block body %}
    <h1>Couverture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ couverture.id }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ couverture.destination }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ couverture.zone }}</td>
            </tr>
            <tr>
                <th>Fichier_specifier</th>
                <td>{{ couverture.fichierSpecifier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('couverture_index') }}">back to list</a>

    <a href="{{ path('couverture_edit', {'id': couverture.id}) }}">edit</a>

    {{ include('couverture/_delete_form.html.twig') }}
{% endblock %}
