{% extends 'base.html.twig' %}

{% block title %}Edit Medicin{% endblock %}

{% block body %}
    <h1>Edit Medicin</h1>

    {{ include('medicin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('medicin_index') }}">back to list</a>

    {{ include('medicin/_delete_form.html.twig') }}
{% endblock %}
