{% extends 'base.html.twig' %}

{% block title %}Medicin index{% endblock %}

{% block body %}
    <h1>Medicin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_medicin</th>
                <th>Specialite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicin in medicins %}
            <tr>
                <td>{{ medicin.id }}</td>
                <td>{{ medicin.nomMedicin }}</td>
                <td>{{ medicin.specialite }}</td>
                <td>
                    <a href="{{ path('medicin_show', {'id': medicin.id}) }}">show</a>
                    <a href="{{ path('medicin_edit', {'id': medicin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medicin_new') }}">Create new</a>
{% endblock %}
