{% extends 'base.html.twig' %}

{% block title %}New Medicin{% endblock %}

{% block body %}
    <h1>Create new Medicin</h1>

    {{ include('medicin/_form.html.twig') }}

    <a href="{{ path('medicin_index') }}">back to list</a>
{% endblock %}
