{% extends 'base.html.twig' %}

{% block title %}Medicin{% endblock %}

{% block body %}
    <h1>Medicin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicin.id }}</td>
            </tr>
            <tr>
                <th>Nom_medicin</th>
                <td>{{ medicin.nomMedicin }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ medicin.specialite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medicin_index') }}">back to list</a>

    <a href="{{ path('medicin_edit', {'id': medicin.id}) }}">edit</a>

    {{ include('medicin/_delete_form.html.twig') }}
{% endblock %}
