<form method="post" action="{{ path('boisson_manger_delete', {'id': boisson_manger.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ boisson_manger.id) }}">
    <button class="btn">Delete</button>
</form>
