{% extends 'base.html.twig' %}

{% block title %}Edit BoissonManger{% endblock %}

{% block body %}
    <h1>Edit BoissonManger</h1>

    {{ include('boisson_manger/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('boisson_manger_index') }}">back to list</a>

    {{ include('boisson_manger/_delete_form.html.twig') }}
{% endblock %}
