{% extends 'base.html.twig' %}

{% block title %}BoissonManger index{% endblock %}

{% block body %}
    <h1>BoissonManger index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Alimentation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for boisson_manger in boisson_mangers %}
            <tr>
                <td>{{ boisson_manger.id }}</td>
                <td>{{ boisson_manger.alimentation }}</td>
                <td>
                    <a href="{{ path('boisson_manger_show', {'id': boisson_manger.id}) }}">show</a>
                    <a href="{{ path('boisson_manger_edit', {'id': boisson_manger.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('boisson_manger_new') }}">Create new</a>
{% endblock %}
