{% extends 'base.html.twig' %}

{% block title %}New BoissonManger{% endblock %}

{% block body %}
    <h1>Create new BoissonManger</h1>

    {{ include('boisson_manger/_form.html.twig') }}

    <a href="{{ path('boisson_manger_index') }}">back to list</a>
{% endblock %}
