{% extends 'base.html.twig' %}

{% block title %}BoissonManger{% endblock %}

{% block body %}
    <h1>BoissonManger</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boisson_manger.id }}</td>
            </tr>
            <tr>
                <th>Alimentation</th>
                <td>{{ boisson_manger.alimentation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('boisson_manger_index') }}">back to list</a>

    <a href="{{ path('boisson_manger_edit', {'id': boisson_manger.id}) }}">edit</a>

    {{ include('boisson_manger/_delete_form.html.twig') }}
{% endblock %}
