<form method="post" action="{{ path('moustique_tique_delete', {'id': moustique_tique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moustique_tique.id) }}">
    <button class="btn">Delete</button>
</form>
