{% extends 'base.html.twig' %}

{% block title %}Edit MoustiqueTique{% endblock %}

{% block body %}
    <h1>Edit MoustiqueTique</h1>

    {{ include('moustique_tique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('moustique_tique_index') }}">back to list</a>

    {{ include('moustique_tique/_delete_form.html.twig') }}
{% endblock %}
