{% extends 'base.html.twig' %}

{% block title %}MoustiqueTique index{% endblock %}

{% block body %}
    <h1>MoustiqueTique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moustique_tique in moustique_tiques %}
            <tr>
                <td>{{ moustique_tique.id }}</td>
                <td>{{ moustique_tique.tique }}</td>
                <td>
                    <a href="{{ path('moustique_tique_show', {'id': moustique_tique.id}) }}">show</a>
                    <a href="{{ path('moustique_tique_edit', {'id': moustique_tique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('moustique_tique_new') }}">Create new</a>
{% endblock %}
