{% extends 'base.html.twig' %}

{% block title %}New MoustiqueTique{% endblock %}

{% block body %}
    <h1>Create new MoustiqueTique</h1>

    {{ include('moustique_tique/_form.html.twig') }}

    <a href="{{ path('moustique_tique_index') }}">back to list</a>
{% endblock %}
