{% extends 'base.html.twig' %}

{% block title %}MoustiqueTique{% endblock %}

{% block body %}
    <h1>MoustiqueTique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moustique_tique.id }}</td>
            </tr>
            <tr>
                <th>Tique</th>
                <td>{{ moustique_tique.tique }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('moustique_tique_index') }}">back to list</a>

    <a href="{{ path('moustique_tique_edit', {'id': moustique_tique.id}) }}">edit</a>

    {{ include('moustique_tique/_delete_form.html.twig') }}
{% endblock %}
