{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
	  <meta name="author" content="GeeksLabs">
	  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
	  <link rel="shortcut icon" href="img/favicon.png">

	  <title>Travelkit</title>


	  <!-- Bootstrap CSS -->
	  <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
	  <!-- bootstrap theme -->
	  <link href="{{asset('css/bootstrap-theme.css')}}" rel="stylesheet">
	  <!--external css-->
	  <!-- font icon -->
	  <link href="{{asset('css/elegant-icons-style.css')}}" rel="stylesheet" />
	  <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" />
	  <!-- full calendar css-->
	  <link href="{{asset('assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css')}}" rel="stylesheet" />
	  <link href="{{asset('assets/fullcalendar/fullcalendar/fullcalendar.css')}}" rel="stylesheet" />
	  <!-- easy pie chart-->
	  <link href="{{asset('assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css')}}" rel="stylesheet" type="text/css" media="screen" />
	  <!-- owl carousel -->
	  <link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}" type="text/css">
	  <link href="{{asset('css/jquery-jvectormap-1.2.2.css')}}" rel="stylesheet">
	  <!-- Custom styles -->
	  <link rel="stylesheet" href="{{asset('css/fullcalendar.css')}}">
	  <link href="{{asset('css/widgets.css')}}" rel="stylesheet">
	  <link href="{{asset('css/style.css')}}" rel="stylesheet">
	  <link href="{{asset('css/style-responsive.css')}}" rel="stylesheet" />
	  <link href="{{asset('css/xcharts.min.css')}}" rel=" stylesheet">
	  <link href="{{asset('css/jquery-ui-1.10.4.min.css')}}" rel="stylesheet">
	  <!-- =======================================================
	    Theme Name: NiceAdmin
	    Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
	    Author: BootstrapMade
	    Author URL: https://bootstrapmade.com
	  ======================================================= -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    </head>
    <body>
      
    	<section id="container" class="">


    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="index.html" class="logo">Travel <span class="lite">Kit</span></a>
     
      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

     
          

          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="{{asset('img/avatar1_small.jpg')}}">
                            </span>
                            <span class="username">
                              {{ app.user.username }}
                            </span>
                            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>

              <li class="eborder-top">
                <a href="#"><i class="icon_profile"></i> My Profile</a>
              </li>
              <li>
                <a href="{{ path('fos_user_security_logout') }}"><i class="icon_key_alt"></i>
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
    
              </li>
            </ul>
          </li>
          
         
        </ul>
     
      </div>
    </header>

    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="index.html">
                <i class="icon_house_alt"></i>
                <span>Accueil</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_document_alt"></i>
                <span>Client</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="">Création Voyageur</a></li>
              <li><a class="" href="">Création Voyage</a></li>
              <li><a class="" href="">Voir Maladie</a></li>
              <li><a class="" href="">Voir Baignade Soleil</a></li>
              <li><a class="" href="">Voir Boisson & Manger</a></li>
              <li><a class="" href="">Voir Checklistes</a></li>
              <li><a class="" href="">Voir Consultation Medical</a></li>
              <li><a class="" href="">Voir Couverture</a></li>
              <li><a class="" href="">Voir Documents</a></li>
              <li><a class="" href="">Voir Info Général</a></li>
              <li><a class="" href="">Voir Medicaments</a></li>
              <li><a class="" href="">Voir Moustique</a></li>
              <li><a class="" href="">Voir Medicin</a></li>
              <li><a class="" href="">Voir Mon Quotidient</a></li>

            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_desktop"></i>
                <span>UI Fitures</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="general.html">Elements</a></li>
              <li><a class="" href="buttons.html">Buttons</a></li>
              <li><a class="" href="grids.html">Grids</a></li>
            </ul>
          </li>
          <li>
            <a class="" href="widgets.html">
                <i class="icon_genius"></i>
                <span>Widgets</span>
            </a>
          </li>
          <li>
            <a class="" href="chart-chartjs.html">
                <i class="icon_piechart"></i>
                <span>Charts</span>

            </a>

          </li>

          <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_table"></i>
                <span>Tables</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="basic_table.html">Basic Table</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_documents_alt"></i>
                <span>Pages</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="profile.html">Profile</a></li>
              <li><a class="" href="login.html"><span>Login Page</span></a></li>
              <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
              <li><a class="" href="blank.html">Blank Page</a></li>
              <li><a class="" href="404.html">404 Error</a></li>
            </ul>
          </li>

        </ul>
*
      </div>
    </aside>
   
    <section id="main-content">
      <section class="wrapper">
        {% block body %}{% endblock %}
      </section>
    </section>

       

  <script src="{{asset('js/jquery.js')}}"></script>
  <script src="{{asset('js/jquery-ui-1.10.4.min.js')}}"></script>
  <script src="{{asset('js/jquery-1.8.3.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script>
  <!-- bootstrap -->
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <!-- nice scroll -->
  <script src="{{asset('js/jquery.scrollTo.min.js')}}"></script>
  <script src="{{asset('js/jquery.nicescroll.js')}}" type="text/javascript"></script>

    {% block javascripts %}{% endblock %}
       

    
    </body>
</html>
{% endif %}


