{% extends 'base.html.twig' %}

{% block title %}Pays index{% endblock %}

{% block body %}
    <h1>Pays index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Capital</th>
                <th>Indicatif_telephonic</th>
                <th>Decalage_horaire</th>
                <th>Prise_electrique</th>
                <th>Monnaies</th>
                <th>Type_permis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td>{{ pay.id }}</td>
                <td>{{ pay.nom }}</td>
                <td>{{ pay.capital }}</td>
                <td>{{ pay.indicatifTelephonic }}</td>
                <td>{{ pay.decalageHoraire ? pay.decalageHoraire|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pay.priseElectrique }}</td>
                <td>{{ pay.monnaies }}</td>
                <td>{{ pay.typePermis }}</td>
                <td>
                    <a href="{{ path('pays_show', {'id': pay.id}) }}">show</a>
                    <a href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pays_new') }}">Create new</a>
{% endblock %}
