{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pay.nom }}</td>
            </tr>
            <tr>
                <th>Capital</th>
                <td>{{ pay.capital }}</td>
            </tr>
            <tr>
                <th>Indicatif_telephonic</th>
                <td>{{ pay.indicatifTelephonic }}</td>
            </tr>
            <tr>
                <th>Decalage_horaire</th>
                <td>{{ pay.decalageHoraire ? pay.decalageHoraire|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prise_electrique</th>
                <td>{{ pay.priseElectrique }}</td>
            </tr>
            <tr>
                <th>Monnaies</th>
                <td>{{ pay.monnaies }}</td>
            </tr>
            <tr>
                <th>Type_permis</th>
                <td>{{ pay.typePermis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pays_index') }}">back to list</a>

    <a href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>

    {{ include('pays/_delete_form.html.twig') }}
{% endblock %}
