<form method="post" action="{{ path('trousse_sante_delete', {'id': trousse_sante.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trousse_sante.id) }}">
    <button class="btn">Delete</button>
</form>
