{% extends 'base.html.twig' %}

{% block title %}Edit TrousseSante{% endblock %}

{% block body %}
    <h1>Edit TrousseSante</h1>

    {{ include('trousse_sante/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trousse_sante_index') }}">back to list</a>

    {{ include('trousse_sante/_delete_form.html.twig') }}
{% endblock %}
