{% extends 'base.html.twig' %}

{% block title %}TrousseSante index{% endblock %}

{% block body %}
    <h1>TrousseSante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trousse_sante in trousse_santes %}
            <tr>
                <td>{{ trousse_sante.id }}</td>
                <td>{{ trousse_sante.intitule }}</td>
                <td>{{ trousse_sante.categorie }}</td>
                <td>
                    <a href="{{ path('trousse_sante_show', {'id': trousse_sante.id}) }}">show</a>
                    <a href="{{ path('trousse_sante_edit', {'id': trousse_sante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trousse_sante_new') }}">Create new</a>
{% endblock %}
