{% extends 'base.html.twig' %}

{% block title %}New TrousseSante{% endblock %}

{% block body %}
    <h1>Create new TrousseSante</h1>

    {{ include('trousse_sante/_form.html.twig') }}

    <a href="{{ path('trousse_sante_index') }}">back to list</a>
{% endblock %}
