{% extends 'base.html.twig' %}

{% block title %}TrousseSante{% endblock %}

{% block body %}
    <h1>TrousseSante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trousse_sante.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ trousse_sante.intitule }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ trousse_sante.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('trousse_sante_index') }}">back to list</a>

    <a href="{{ path('trousse_sante_edit', {'id': trousse_sante.id}) }}">edit</a>

    {{ include('trousse_sante/_delete_form.html.twig') }}
{% endblock %}
