{% extends 'base.html.twig' %}

{% block title %}Edit Maladies{% endblock %}

{% block body %}
    <h1>Edit Maladies</h1>

    {{ include('maladies/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('maladies_index') }}">back to list</a>

    {{ include('maladies/_delete_form.html.twig') }}
{% endblock %}
