{% extends 'base.html.twig' %}

{% block title %}Maladies index{% endblock %}

{% block body %}
    <h1>Maladies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for malady in maladies %}
            <tr>
                <td>{{ malady.id }}</td>
                <td>{{ malady.nom }}</td>
                <td>
                    <a href="{{ path('maladies_show', {'id': malady.id}) }}">show</a>
                    <a href="{{ path('maladies_edit', {'id': malady.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('maladies_new') }}">Create new</a>
{% endblock %}
