{% extends 'base.html.twig' %}

{% block title %}New Maladies{% endblock %}

{% block body %}
    <h1>Create new Maladies</h1>

    {{ include('maladies/_form.html.twig') }}

    <a href="{{ path('maladies_index') }}">back to list</a>
{% endblock %}
