{% extends 'base.html.twig' %}

{% block title %}Maladies{% endblock %}

{% block body %}
    <h1>Maladies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ malady.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ malady.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('maladies_index') }}">back to list</a>

    <a href="{{ path('maladies_edit', {'id': malady.id}) }}">edit</a>

    {{ include('maladies/_delete_form.html.twig') }}
{% endblock %}
