{% extends 'base.html.twig' %}

{% block title %}Boisson{% endblock %}

{% block body %}
    <h1>Boisson</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boisson.id }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ boisson.destination }}</td>
            </tr>
            <tr>
                <th>Nom_boisson</th>
                <td>{{ boisson.nomBoisson }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ boisson.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('boisson_index') }}">back to list</a>

    <a href="{{ path('boisson_edit', {'id': boisson.id}) }}">edit</a>

    {{ include('boisson/_delete_form.html.twig') }}
{% endblock %}
