{% extends 'base.html.twig' %}

{% block title %}Edit Medicaments{% endblock %}

{% block body %}
    <h1>Edit Medicaments</h1>

    {{ include('medicaments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('medicaments_index') }}">back to list</a>

    {{ include('medicaments/_delete_form.html.twig') }}
{% endblock %}
