{% extends 'base.html.twig' %}

{% block title %}Medicaments index{% endblock %}

{% block body %}
    <h1>Medicaments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_medicament</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.id }}</td>
                <td>{{ medicament.nomMedicament }}</td>
                <td>{{ medicament.commentaire }}</td>
                <td>
                    <a href="{{ path('medicaments_show', {'id': medicament.id}) }}">show</a>
                    <a href="{{ path('medicaments_edit', {'id': medicament.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medicaments_new') }}">Create new</a>
{% endblock %}
