{% extends 'base.html.twig' %}

{% block title %}Medicaments{% endblock %}

{% block body %}
    <h1>Medicaments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>Nom_medicament</th>
                <td>{{ medicament.nomMedicament }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ medicament.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medicaments_index') }}">back to list</a>

    <a href="{{ path('medicaments_edit', {'id': medicament.id}) }}">edit</a>

    {{ include('medicaments/_delete_form.html.twig') }}
{% endblock %}
