{% extends 'base.html.twig' %}

{% block title %}Sante index{% endblock %}

{% block body %}
    <h1>Sante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>Listes</th>
                <th>Actions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sante in santes %}
            <tr>
                <td>{{ sante.id }}</td>
                <td>{{ sante.categorie }}</td>
                <td>{{ sante.listes }}</td>
                <td>{{ sante.actions }}</td>
                <td>
                    <a href="{{ path('sante_show', {'id': sante.id}) }}">show</a>
                    <a href="{{ path('sante_edit', {'id': sante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sante_new') }}">Create new</a>
{% endblock %}
