{% extends 'base.html.twig' %}

{% block title %}Sante{% endblock %}

{% block body %}
    <h1>Sante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sante.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ sante.categorie }}</td>
            </tr>
            <tr>
                <th>Listes</th>
                <td>{{ sante.listes }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>{{ sante.actions }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sante_index') }}">back to list</a>

    <a href="{{ path('sante_edit', {'id': sante.id}) }}">edit</a>

    {{ include('sante/_delete_form.html.twig') }}
{% endblock %}
