<form method="post" action="{{ path('baignade_soleil_delete', {'id': baignade_soleil.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ baignade_soleil.id) }}">
    <button class="btn">Delete</button>
</form>
