{% extends 'base.html.twig' %}

{% block title %}Edit BaignadeSoleil{% endblock %}

{% block body %}
    <h1>Edit BaignadeSoleil</h1>

    {{ include('baignade_soleil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('baignade_soleil_index') }}">back to list</a>

    {{ include('baignade_soleil/_delete_form.html.twig') }}
{% endblock %}
