{% extends 'base.html.twig' %}

{% block title %}BaignadeSoleil index{% endblock %}

{% block body %}
    <h1>BaignadeSoleil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for baignade_soleil in baignade_soleils %}
            <tr>
                <td>{{ baignade_soleil.id }}</td>
                <td>{{ baignade_soleil.description }}</td>
                <td>{{ baignade_soleil.type ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('baignade_soleil_show', {'id': baignade_soleil.id}) }}">show</a>
                    <a href="{{ path('baignade_soleil_edit', {'id': baignade_soleil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('baignade_soleil_new') }}">Create new</a>
{% endblock %}
