{% extends 'base.html.twig' %}

{% block title %}New BaignadeSoleil{% endblock %}

{% block body %}
    <h1>Create new BaignadeSoleil</h1>

    {{ include('baignade_soleil/_form.html.twig') }}

    <a href="{{ path('baignade_soleil_index') }}">back to list</a>
{% endblock %}
