{% extends 'base.html.twig' %}

{% block title %}BaignadeSoleil{% endblock %}

{% block body %}
    <h1>BaignadeSoleil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ baignade_soleil.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ baignade_soleil.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ baignade_soleil.type ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('baignade_soleil_index') }}">back to list</a>

    <a href="{{ path('baignade_soleil_edit', {'id': baignade_soleil.id}) }}">edit</a>

    {{ include('baignade_soleil/_delete_form.html.twig') }}
{% endblock %}
